node_modules
dist
*.log
*.tsbuildinfo
coverage
.nyc_output
.env
*.env
.DS_Store
*.orig
.idea
.vscode
*.iml
yarn-error.log
npm-debug.log
logs
*.log.*
*.swp
.pnp*
*.pid
*.seed
*.pid.lock
yarn.lock
.npmrc
.prettierignore
.prettierrc
tsconfig.tsbuildinfo
**/node_modules

static